html {
    font-size: 16px;
}

html,
body {
    height: 100%;

}

html,
body,
nav,
header,
main,
aside,
footer,
article,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #769672;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 15% minmax(auto, 150px) auto 15%;
    grid-template-rows: minmax(150px, 400px) 60px auto min-content;
    grid-template-areas:
        ".  cover  cover    ."
        ".      header main     ."
        ".      nav    main     ."
        "footer footer footer footer";
}

.image {
    grid-area: cover;
    background-image: url(../images/forest.jpg);
    align-items: center;
    background-size: cover;
    background-position: bottom;
    padding: 10px;
    color: #00000000;
}


header {
    grid-area: header;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

header h1 {
    margin: 0px;
    text-align: left;
}

nav {
    grid-area: nav;

}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;

}

nav a {
    color: #000000;
    background-color: #0e521c55;
    padding: 20px;
    text-decoration: none;
    display: block;
    transition-property: background-color;
    transition-duration: 0.8s;
    transition-timing-function: linear;
}

nav a.thisPage {
    background-color: #225518;
    color: #ffffff;
    display: block;
}

nav a:hover {
    background-color: #0b2e07;
}



#main {
    grid-area: main;
    background-color: #9dbe99;
    color: #000000;
    padding: 10px;
}

div ul li {
    list-style: lower-alpha;
}

.supp {
    position: relative;
    display: inline-block;
}

.supp>img {
    position: absolute;
}

#supplement~img {
    transform: scaleY(0);
    transition: transform 0.5s;
}

#supplement:checked~img {
    transform: scaleY(1);
}

.court {
    position: relative;
    display: inline-block;
}

.court>img {
    position: absolute;
}

#courtesy~img {
    transform: scaleY(0);
    transition: transform 0.5s;
}

#courtesy:checked~img {
    transform: scaleY(1);
}

img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #333333;
    color: #e3eed7;
    text-align: center;

}

#listed,
#listbox {
    display: none;
}

/* ----- Media queries ----- */

@media screen and (max-width: 1000px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: minmax(200px, auto) min-content min-content auto min-content;
        
          
    }

    header h1 {
        text-align: center;
    }

    .image {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: minmax(200px, auto) min-content min-content auto min-content;
        grid-template-areas:
            "cover"
            "header"
            "nav"
            "main"
            "footer";
    }

    header h1 {
        text-align: center;
    }

    .image {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    #listed {
        background-image: url(../images/meny.png);
        width: 50px;
        height: 50px;
        display: inline-block;
        cursor: pointer;
    }

    #listbox~ul {
        display: none;
    }

    #listbox:checked~ul {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 0;
    }
}